 *
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body
 {
  background-image: url(./images/Object\ \(1\).png);
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
 }

 header
 {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
 }
 .nav
 {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
 }

 .nav a
 {
  color: #ffffff;
  text-decoration: none;
 }



 #banner-cont-1
 {
  text-align: center;
  padding-top: 9rem;
 }
 
 #banner-cont-1 h1
 {
  font-size: 4rem;
 }

 #banner-cont-1 span
 {
  margin-left: 15px;
 }

 button
 {
  margin-top: 30px;
  padding: 20px;
  background-color: #C271FF;
  border-radius: 30px;
  border: none;
 }
 button a
 {
  color: #ffffff;
  text-decoration: none;
 }

 #pros
 {
  font-size: 20px;
  padding-top: 11rem;
  text-align: center;
 }

span 
 {
  color: #C271FF;
 }

 #banner-cont-2
 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 40px;
 }

 .round-img-3
 {
  border-radius: 50%;
 }

 #banner-cont-2 div
 {
  text-align: center;
 }

 .quote
 {
  align-items: center;
  background-color: #C271FF;
  display: flex;
  justify-content: space-evenly;
  padding: 7rem;
 }

 .quote h2
 {
  padding-top: 15px;
 }

 .videos 
 {
  background-color: #ffffff;
  color: black;
  padding: 5rem 0 5rem 0;
 }

 

 .video-items 
{
  display: flex;
  gap: 40px;
  max-width: 300px;
}

.videos h1{
  text-align: center;
  padding-bottom: 4rem;
}

.author
{
  color: #C271FF;
  display: flex;
  align-items: center;
  gap: 25px;
}

.author img
{
  height: 40px;
}

.rating
{
  display: flex;
  align-items: center;
  gap: 70px;
  color: #C271FF;
}

.rating img
{
  height: 20px;
}


 .membership
 {
  background-color: #071629;
  padding: 6rem 0 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 }

 .membership span 
{
  color: #C271FF;
}

.membership-cont-2
{
  display: flex;
  gap: 55px;
  padding: 3rem 0 3rem 0;
}

.membership h1
{
  text-align: center;
}

.membership-cont-2 div
{
  text-align: center;
  max-width: 200px;
}

.membership-btn
{
  text-align: center;
}

 .faq
 {
  background-color: #ffffff;
  color: #071629;
  padding-top: 70px;
  padding-bottom: 70px;
 }

 .faq div div
{
  display: flex;
  justify-content: center;
  gap: 50px;
} 
.faq div div div 
{
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

 .faq-h1
{
  padding-top: 70px;
}

.faq-title-h1
{
  text-align: center;
}

 .footer-container
 {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0 5rem 0;
  
 }

 footer
 {
  background-color: #071629;
  display: flex;
  flex-direction: column;
 }

 .footer-p
 {
  text-align: center;
  padding-bottom: 2rem;
 }